/*Global CSS*/

body
{
	margin: 25px;
	font-weight: 300;
	background: #ededed;
	color: #333;
}

.header-section
{
	width: 1298px;
	padding: 0px;
	margin: 0px;
	min-height: 20px;
	position: fixed;
}

.logo h4
{
	font-size: 26px;
	width: 11%;
	line-height: 26px;
}

.navigation-menu ul
{
	margin-top: -80px;
}

.logo h4
{
	margin: 20px 0px;
}

h2, p
{
	margin: 25px 0px 0px;
}

.all-sections
{
	padding: 50px 0px;
}

.header-section,
.home-section ,
.about-section ,
.portfolio-section ,
.contact-section,
.company-name:after 
{
	background: #fff;
}

.resume-section,
.journal-section,
.footer-section
{
	background: #fcfcfc;
}

.yellow-background
{
	background: #fff197;
}

.blue-texts,
.active-section
{
	color: #072def;
}

.active-section,
.journal-texts:hover
{
	border-bottom: 2px solid #fff197;
}

.first-line-of-the-section,
.home-section h2
{
	font-family: "Lora", sans-sarif;
	font-size: 20px;
}

h1, h2, h3, h4, h5
{
	font-family: "Lora", sarif;
	font-weight: 400;
	color: #000;
}

h1,
.resume-section h2
{
	width: 77%;
}

.journal-section h2,
.contact-section h2
{
	width: 50%;
}

h1
{
	font-size: 60px;
}

h2
{
	font-size: 44px;
}

h3
{
	font-size: 28px;
}

h4
{
	font-size: 24px;
}

h5
{
	font-size: 18px;
}

h3, h4
{
	line-height: 48px;
}

h3,
.progress-report,
h4,
h5
{
	margin: 70px 0px 0px;
}

.about-section-texts-left,
.about-section-texts-right-top,
.about-section-texts-right-bottom,
.job-title p
{
	letter-spacing: 0.6px;
}

p,
input,
textarea
{
	font-family: "Work Sans", sans-sarif;
	
}

ul
{
	list-style-type: none;
	float: right;
	padding-top: 100px;
}

li
{
	display: inline-block;
	margin-left: 30px;
	font-family: "Lato", sans-sarif;
	letter-spacing: 1px;
}

img
{
	width: 100%;
}

/*Home Section*/

.home-section
{
	background: url(../images/hero.png) no-repeat;
	background-size: cover;
	padding-top: 180px;
}

.home-section img
{
	width: 30px;
	height: 30px;
	margin: 70px 0px 138px;
}

/*About Section*/

.about-section h2
{
	width: 96%;
}

.about-section-texts-left,
.about-section-texts-right-top,
.about-section-texts-right-bottom
{
	line-height: 29px;
	color: #222;
}

.about-section-texts-right-top
{
	margin: 80px 0px 0px;
}

.about-section-texts-right-bottom
{
	margin: 24px 0px 0px;
}

.progress-title,
.percentage,
.year
{
	font-size: 12px;
	font-weight: 400;
}

.progress-title
{
	color: #1d1d1d;
}

.percentage
{
	float: right;
}

.progress-status
{
	background: #eee;
	height: 5px;
	margin: 10px 0px 0px;
}

.progress-status div
{
	background: #fff197;
	height: 100%;
}

.web-design-progress
{
	width: 90%;
}

.web-development-progress
{
	width: 83%;
}

.photography-progress
{
	width: 95%;
}

/*Resume Section*/

.company-name,
.job-title h3
{
	font-size: 22px;
}

.company-name,
.year
{
	margin-left: -15px;
}

.year,
.job-title p
{
	margin-top: 5px;
}

.job-title p
{
	line-height: 26px;
}

.job-title h3,
.job-title p
{
	margin-left: 52px;
}

.company-name:after,
.job-title:before
{
	content: " ";
	position: absolute;
}

.company-name:after
{
	height: 16px;
	width: 16px;
	border: 2px solid #072def;
	border-radius: 50%;
	left: 95%;
	top: 61%;
}

.recent-job:after
{
	background: #072def;
}

.job-title:before
{
	border-left: 2px solid #fff197;
	height: 100%;
	top: 58%;
	right: 100%;
}

.first-job:before
{
	height: 40%;
}

/*Porfolio Section*/

.portfolio-section h2
{
	width: 83%;
}

.portfolio-section img:hover
{
	opacity: 0.5;
}

.portfolio-images
{
	padding: 0px;
	margin-top: 30px;
}

.portfolio-image-01,
.portfolio-image-04,
.portfolio-image-03 
{
	margin-bottom: 35px;
}

.portfolio-image-03,
.portfolio-image-02
{
    position: relative;
}

.portfolio-image-03
{
	bottom: 260px;
}

.portfolio-image-02
{
	bottom: 10px;
}

/*Journal Section*/

.journal-texts
{
	border-bottom: 2px solid #eee;
	padding: 0px;
	margin-left: 15px;
}

.journal-texts p
{
	padding-bottom: 30px;
}

.author-name,
.publish-date
{
	padding-right: 40px;
}

.journal-texts:hover,
.journal-texts:hover h3,
.journal-texts:hover p,
.journal-texts:hover .right-arrow,
.social-icons i:hover,
.portfolio-section img:hover,
li:hover
{
	transition: 0.4s;
	cursor: pointer;
}

.right-arrow
{
	display: none;
	float: right;
	margin-top: -10%;
	margin-right: 2%;
	width: auto;
}

.journal-texts:hover h3,
.journal-texts:hover p 
{
	transform: translateX(2%);
}

.journal-texts:hover .right-arrow
{
	display: block; 
}

/*Contact Section*/

.contact-info
{
	padding: 0px;
}

.contact-info p
{
	line-height: 35px;
	color: #777;
	margin: 10px 0px 0px;
}

.form-part
{
	margin: 50px 0px 0px;
}

.form-part div
{
	padding: 0px;
}

input, textarea
{
	width: 100%;
	border: 0px;
	padding: 30px 0px 10px;
	letter-spacing: 0.6px;
}

.form-data-inline,
.form-data-block input,
textarea
{
	border-bottom: 2px solid #fff197;
}

button
{
	margin-top: 30px;
	padding: 5px 15px;
	border-color: #fff197;
}

/*Footer Section*/

.social-icons
{
	padding-top: 25px;
}

.social-icons li
{
	margin-left: 15px;
}

.social-icons i:hover
{
	color: #23527c;
}